$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #fff;
$font-color: #201b1b;
$white: #fff;

body {
  background-color: $background-color;
  color: $font-color;
}

.board {

  @media(max-width: 550px) {
    max-width: 100%;
    max-height: 100%;
    margin-top: 25%;
  };
  @media(min-width: 550px) {
    max-width: 90%;
    max-height: 90%;
    margin-top: 15%;
  };
  @media(min-width: 700px) {
    max-width: 90%;
    max-height: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
  };
  @media(min-width: 800px) {
    max-width: 80%;
    max-height:80%;
  };
  @media(min-width: 900px) {
    max-width: 75%;
    max-height: 75%;
  };
  @media(min-width: 980px) {
    max-width: 70%;
    max-height: 70%;
  };
  @media(min-width: 1020px) {
    max-width: 60%;
    max-height: 60%;
  };
  @media(min-width: 1100px) {
    max-width: 55%;
    max-height: 55%;
  };
  @media(min-width: 1100px) {
    max-width: 50%;
    max-height: 50%;
  };
  @media(min-width: 1200px) {
    max-width: 45%;
    max-height: 45%;
  };
  @media(min-width: 1280px) {
    max-width: 40%;
    max-height: 40%;
  };
  // @media(min-width: 1350px) {
  //   max-width: 35%;
  //   max-height: 35%;
  // };
}


.box {
  border: 1px solid $white;
  background-color: $white;
  width: 33%;
  // vertical-align:middle;
  font-size:5em;
  height:2.5em;
  padding: 0 0 0 0;
  // text-align: center;
}
h1 {
  display: inline;
  float: left;
}
.modal-button {
  float: right;
  margin-top: 2em;
  margin-right: 2em;
}
#display {
  font-size: 50px;
  padding:0px;
  margin: 0px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.center {
  float: none;
  margin: 0 auto;
  margin-bottom: 5em;
  margin-top: 1em;
}
ul {
  list-style: none;
}
#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}
.draw-bottom {
  border-bottom: 5px solid black;
}
.draw-top {
  border-top: 5px solid black;
}
.draw-left {
  border-left: 5px solid black;
}
.draw-right {
  border-right: 5px solid black;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
input {
  background-color: #fefefe;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #444;
    width: 80%; /* Could be more or less, depending on screen size */
    overflow: auto;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#sign-out {
  float: right;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
